
        <h1>Codeial Project / <%=title %></h1>
<!-- nothing else is needed to put in this view as firstly control will load the layout as wrapper and put content of this view as body part between the layout -->