<link rel="stylesheet" href="/css/profile.css">
<h1>User Profile Page</h1>
        <img src="https://assets.nick.com/uri/mgid:arc:imageassetref:shared.nick.us:a625d441-bbbf-42c8-9927-6a0157aac911?quality=0.7&gen=ntrn&legacyStatusCode=true" alt="Girl in a jacket" width="500" height="600">
<!-- nothing else is needed to put in this view as firstly control will load the layout as wrapper and put content of this view as body part between the layout -->